img
{
    max-width: 300px;
}

body
{
    max-width: 1440px;
    margin: 0 auto;
}

#navigation 
{
    display: flex;
    font-weight: bold;
    color: #1a66f3;
}

.NavItems {
    display: flex;
    list-style: none;
}

.NavItems li{
    padding: 0 1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

header img {
    max-width: 10%;
    height:auto;
}

.sitetitle
{
    margin-bottom: 0em;
    font-weight: bold;
    font-size: larger;  
}

.sitesubtitle
{
    margin: 0;

}

.infoline
{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.fa-info-circle
{
    margin-right: 1em;
}
.filter {
    display: flex;
    align-items: center;
    margin-top: 0%;
}

.filter button {
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: black;
    margin-right: 1em;
}

.buttonfilter
{ 
    padding: 0,5em;
}
.fa-money-bill-wave
{
  color: #1a66f3;
  background-color: #6b9af1;
  margin-left: 0em;
  margin-right: 1em;
  padding: 1mm; 
}

.fa-child
{
    color: #1a66f3;
    background-color: #6b9af1;
    margin-left: 0em;
    margin-right: 1em;
    padding: 1mm; 
  }

.fa-heart
  {
    color: #1a66f3;
    background-color: #6b9af1;
    margin-left: 0em;
    margin-right: 1em;
    padding: 1mm; 
  }

.fa-dog
  {
    color: #1a66f3;
    background-color: #6b9af1;
    margin-left: 0em;
    margin-right: 1em;
    padding: 1mm; 
  }

.hotel
{
    display: flex;
    flex-direction: row;
}

.displaymore
{
    display: flex;
}
.hostmarseille
{
}

.hotel
{   display: flex;
    flex-wrap: wrap;   
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
}

#hebergement
{   display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.containhost
{
    display: flex;
    justify-content: space-between;
    
}
.hotelmarseille
{
    display: flex;
    background-color: white;
    padding: 4%;
    border-radius: 10%;
    width: 20%;
    height: 10%;
}

#populaire {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: rgb(216, 216, 216);
    width: 50%;
    height: 70%;
    border-radius: 20px;
}

.hotelpop
{
    display: flex;
    width: 200px;
    height : 200px;
    border-radius: 20px;
}

#activite 
{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.activitytitle
{
    display: flex;
}

.loisirsmarseille 
{
    display: flex;
    flex-direction: column;
    margin: 3em;
    padding-top: 5em;
    width: 30%;
    height: 10%;
}

.loisirsmarseille img
{
    height: 700px;
}
.loisirsmarseillebis 
{
   display: flex;
   padding-top: 8em; 
   flex-direction: column;
   justify-content: space-between;

}

#footer {
    background-color: rgb(216, 216, 216);
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
ul
{
    list-style: none;
}
    

.subtitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
}
